/* @font-face {
	font-family: 'monofur';
	src: url('/assets/font/monofur.woff2') format('woff2');
	size-adjust: 110%;
} */

:root {
	--bg: #c9d1c9;
	--body: #eff3ec;
	--light: #eff3ec;
	--grey: #dddfc5;
	--dark: #1f1f55;
	--link: #292949;
	--link-hover: #7e6262;

	--border: var(--dark);
	--border-radius: 0px;
	--border-width: 1px;
}

html {
	font-family: 'monofur', monospace, sans-serif;
}

html,
body {
	background-color: var(--bg);
	margin: 0;
	padding: 0;
}

nav {
	z-index: 10;
	background-color: var(--grey);
	border: #1f1f55 solid var(--border-width);
	border-bottom: none;
	display: flex;
	justify-content: start;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: large;
}

a {
	font-weight: 600;
	color: var(--link);
}
a:hover {
	color: var(--link-hover);
}

nav a {
	margin: 0 0.3rem;
}

:target {
	background-color: var(--body);
	padding: 1px 5px;
}

.wavy span {
	position: relative;
	display: inline-block;
	animation-timing-function: ease-in-out;
	animation:  wavy 1s infinite;
}

#app {
	visibility: hidden;
	display: flex;
	align-items: start;
	
	width: 90%;
	max-width: 64em;
	margin: 0 5%;
	margin-top: 4em;
}

#app .card {
	margin: 0 1em;
	flex-grow: 1;

}

#profile {
	max-width: 300px;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 1em;
}

#links {
	margin: 0 1em;
	flex-grow: 1;
}

#links a:hover::before {
	content: "> ";
}
#links a::after {
	content: " ";
	display: inline-block;
	font-size: x-small;
	width: 100%;
	border-bottom: var(--border-width) solid var(--border);
}

#profile h2 {
	margin-top: 0;
	transform: skew(-30deg, 0deg);
}

#pfp {
	object-fit: none;
	object-position: center;
	image-rendering: pixelated;
	border: var(--border-width) solid var(--border);
	width: 100%;
	height: auto;
}

#folio {
	width: 100%;
}

#art img {
	max-width: 25%;
}

.folio-cat {
	background-color: var(--grey);
	padding: 0.25em 1em;
	font-weight: bold;
	display: block;
	margin-bottom: 0.5em;
}

.folio-project {
	display: flex;
	justify-content: space-between;
}

.folio-project img {
	width: 40%;
}

.card {
	display: block;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--body);
	box-shadow: var(--shadow-size) var(--shadow-size) 0 0 var(--shadow);
	border: var(--border-width) solid var(--border);
	border-radius: var(--border-radius);
	padding: .35em;
}



@keyframes wavy {
	0% {
		top: -3px;
	}
	50% {
		top: 3px;
	}
	100% {
		top: -3px;
	}
}

@media only screen and (max-width: 768px) {
	nav {
		width: 100vw;
		max-width: none;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		border: none;
		border-bottom: var(--border-width) solid var(--border);
		font-size: x-large;
	}

	nav a {
		margin: 0 0.5rem;
	}

	#app {
		width: 96%;
		flex-direction: column;
		align-items: center;
		margin: 0 2%;
		margin-top: 4em;
	}

	#links {
		margin-top: 1em;
		width: 100%;
	}

	#app .card {
		padding: 0.5em 1em;
		margin: 1em 0em;
		width: 94%;
	}

	#art img {
		max-width: 100%;
		min-width: 25%;
	}
}